%html
	%head
		%title Daily Report
		%link{:rel=>"stylesheet", :href=>"css/style.css",  :type=>"text/css"}
	%body
		%table#rounded-corner{:summary => "2007 Major IT Companies' Profit"}
			%thead
				%tr
				%th.rounded-company{:scope => "col"} Company
				%th.rounded-q1{:scope => "col"} Q1
				%th.rounded-q2{:scope => "col"} Q2
				%th.rounded-q3{:scope => "col"} Q3
				%th.rounded-q4{:scope => "col"} Q4
			%tr
			%td.rounded-foot-left{:colspan => "4"}
			%td.rounded-foot-right
			%tr
			%td Microsoft
			%td 20.3
			%td 30.5
			%td 23.5
			%td 40.3
			%tr
			%td FuckMicrosoft
			%td 20.3
			%td 30.5
			%td 23.5
			%td 40.3